.icon-svg {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;	
}

.icon-svg-equality {
	font-size:(12/10)*1rem;
	width:(25/12)*1em;
}
.icon-svg-facebook_icon {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-svg-information {
	font-size:(14/10)*1rem;
	width:(14/14)*1em;
}
.icon-svg-instagram_icon {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-svg-language {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-svg-logo {
	font-size:(40/10)*1rem;
	width:(55/40)*1em;
}
.icon-svg-name {
	font-size:(17/10)*1rem;
	width:(122/17)*1em;
}
.icon-svg-telegram_icon {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-svg-twitter_icon {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
