<aside class="sidebar">
    <a class="sidebar-brand">
            @@include('mixins/svg-icon.html', {"name": "logo", "class": "sidebar-brand__logo"})
            @@include('mixins/svg-icon.html', {"name": "name", "class": "sidebar-brand__name"})
    </a>
    <nav class="navigation">
        <ul class="navigation__list">
            <li class="navigation__item"><a href="#" class="navigation__link">Диспетчерская</a></li>
            <li class="navigation__item"><a href="#" class="navigation__link">Купить мощность</a></li>
            <li class="navigation__item"><a href="#" class="navigation__link">Партнерская программа</a></li>
            <li class="navigation__item"><a href="#" class="navigation__link">История</a></li>
            <li class="navigation__item"><a href="#" class="navigation__link">Настройка</a></li>
            <li class="navigation__item"><a href="#" class="navigation__link">Поддержка</a></li>
        </ul>
    </nav>
    <nav class="navigation-social">
        <ul class="navigation-social__list">
            <li class="navigation-social__item"><a href="#" class="navigation-social__link"> @@include('mixins/svg-icon.html', {"name": "facebook_icon", "class": "navigation-social__icon"})</a></li>
            <li class="navigation-social__item"><a href="#" class="navigation-social__link"> @@include('mixins/svg-icon.html', {"name": "twitter_icon", "class": "navigation-social__icon"})</a></li>
            <li class="navigation-social__item"><a href="#" class="navigation-social__link"> @@include('mixins/svg-icon.html', {"name": "instagram_icon", "class": "navigation-social__icon"})</a></li>
            <li class="navigation-social__item"><a href="#" class="navigation-social__link"> @@include('mixins/svg-icon.html', {"name": "telegram_icon", "class": "navigation-social__icon"})</a></li>
            <li class="navigation-social__item"><a href="#" class="navigation-social__link"> @@include('mixins/svg-icon.html', {"name": "language", "class": "navigation-social__icon"})</a></li>
        </ul>
    </nav>
</aside>